# Base de données PostgreSQL (Supabase)
DATABASE_URL=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Azure AD (Microsoft 365)
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

# SharePoint / Microsoft Graph API
SHAREPOINT_SITE_URL=
